<fs-examples title="App" githubUrl="https://github.com/Firestitch/fs-app" npmUrl="https://www.npmjs.com/package/@firestitch/app">
  <fs-example title="Body Class" componentName="example">
    <example></example>
  </fs-example>

  <fs-example title="Component Body Class" componentName="component-example">
    <component-example></component-example>
  </fs-example>

  <fs-example title="Styles" componentName="styles">
    <styling></styling>
  </fs-example>

  <!-- <fs-example title="Basic" componentName="basic" componentNames="basic-dialog">
    <basic-example></basic-example>
  </fs-example> -->
</fs-examples>
